@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

.titlemap{
    font-family: 'Montserrat Subrayada';
    font-weight: 500;
    font-size: 7rem;
    line-height: 10rem;

    margin-left: 3.6rem;

    color: #FFFFFF;

    opacity: 0.5;
}